version: "3.1"
services:
  minio:
    image: quay.io/minio/minio
    container_name: minio
    restart: on-failure
    volumes:
      - ${PWD}/data:/data
    ports:
      - "9100:9000"
      - "9101:9001"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: 12345678
      MINIO_VOLUMES: /data
      TZ: Asia/Shanghai
    command: minio server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
   
